<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-mapper.dtd">
  
<mapper namespace="com.choice.eagle.dao.MenuDao">
	<!-- 测试完成 -->
   <select id="selectByMenu" resultType="Menu" >
   		select * from sys_menu where menu_num=0
   </select>
   
   
   <!-- 根据菜的种类查询菜品名称、数量和价格 -->
   <!-- 测试完成 -->
   <select id="selectByCuisine" resultType="Menu" parameterType="String">
   		select menu_name,menu_money from sys_menu where cuisine_id like #{name}
   </select>
   <!-- 根据菜名模糊查询 -->
   <!-- 测试完成 -->
	<select id="selectByName" resultType="Menu" parameterType="String">
   		select * from sys_menu where menu_fir like concat(concat(#{name}),'%')
   </select>
    <!-- 根据菜的编号查询菜的数量 -->
    <!-- 测试完成 -->
   <select id="countMenuById" resultType="int" parameterType="String">
   		select menu_num from sys_menu where menu_id=#{menuId}
   </select>
   
   
    <!-- 增 -->
    <!-- 测试完成 -->
    <insert id="insertMenu" parameterType="Menu">
  		insert into sys_menu  values (#{menuId},#{cuisineId},#{menuName},#{menuMoney},#{menuDate},#{menuNum},#{menuFir},#{menuMate},#{menuRem})
  	</insert>
  	
  	<!-- 删 -->
  	<!-- 测试完成 -->
  	<delete id="deleteByMenuId" parameterType="String">  		
   		delete from sys_menu where menu_name=#{menuId} 
   	</delete>
   	
   	<!-- 改-->
   	<!-- 测试完成 -->
   	<update id="updateMenu" parameterType="Menu">
   		update sys_menu
   		<set>
	   		<if test="cuisineId != null">cuisine_id = #{cuisineId},</if>
	   		<if test="menuName != null">menu_name = #{menuName},</if>
	   		<if test="menuMoney != null">menu_money = #{menuMoney},</if>
	   		<if test="menuDate != null">menu_date = #{menuDate},</if>
	   		<if test="menuNum != null">menu_num = #{menuNum},</if>
	   		<if test="menuFir != null">menu_fir = #{menuFir},</if>
	   		<if test="menuMate != null">menu_mate = #{menuMate},</if>
	   		<if test="menuRem != null">menu_rem = #{menuRem}</if>
		</set>
   		where menu_id = #{menuId}	
   </update>
   
   
   
   <!-- 查  根据条件查询菜单（注意排序） -->
	 <select id="selectByRequire"  resultType="Menu" >  
	select * from sys_menu  
	<where>   
		1=1
	  <if test="menuName != null">  
	      and menu_name = #{menuName}  
	  </if>   
	  <if test="beginTime != null and beginTime != ''">
	  AND menu_date <![CDATA[>=]]> #{beginTime}</if> 
	<if test="endTime != null and endTime != ''">
	AND menu_date <![CDATA[<=]]>#{endTime}</if>  
	</where> 
	 	order by menu_num 
	</select>  
	  
	   <!-- 统计菜种类合计 -->
	   <!-- 测试完成 -->
	<select id="countKinds" resultType="int">  
		select count(menu_id) from sys_menu order by menu_id
	</select> 
   
  	<!-- 统计菜种类合计 -->
  	<!-- 测试完成 -->
	<select id="countEmpty" resultType="int">  
		select count(menu_id) from sys_menu where menu_num=0
	</select> 
   
   <!-- 余量不足的菜 -->
   <!-- 测试完成 -->
	<select id="countLess" resultType="int">  
		select count(menu_id) from sys_menu where menu_num<![CDATA[<=]]>#{menuNum}
	</select>
	
	<select id="selectNameById" resultType="Menu">
		select * from sys_menu where menu_id = #{0}
	</select>
	
	<!-- 根据菜的id查询菜的名字 -->
	<select id = "selectMenuIdByName" resultType = "String" parameterType = "String">
		select menu_id from sys_menu where menu_name = #{name}
	</select>
	
</mapper>