<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choice.eagle.dao.OrderDao">


<!-- 根据桌号查询订单 -->
<!-- 测试完成 -->
 <select id="selectByTable" parameterType="String" resultType="com.choice.eagle.entity.Order">
 SELECT * FROM sys_order WHERE tables_id = #{tableId} and order_type = '1'
 </select>
 
 <!-- 根据条件查询订单 -->
 <select id="selectByRequire" resultType="order">
 	select * from sys_order
 	<where>
 		1=1
 		<if test="orderId != null">
 			and order_id = #{orderId}
 		</if>
 		<if test="beginTime != null and beginTime != ''">
 		and	order_date <![CDATA[>=]]> #{beginTime} 
 		</if>
 		<if test="endTime != null and endTime != ''">
 		and	order_date <![CDATA[<=]]> #{endTime}
 		</if>
 	</where>
 </select>

</mapper>