<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choice.eagle.dao.RorderDao">


   <select id="selectMenuByOrderId" parameterType="String" resultMap="BaseResultMap">
  	SELECT sys_menu.menu_name menuId, COUNT(*) count,sys_menu.menu_money money FROM sys_rorder,sys_menu  
  	where order_id=#{orderId} and sys_rorder.menu_id=sys_menu.menu_id group by menuId, money
  </select>
  
  <resultMap id="BaseResultMap" type="MenuNum" >
       <id column="menuId" property="menuId"  />
    <result column="count" property="count"  />
    <result column="money" property="money"  />
  </resultMap>
   <update id="updateMenuStatus" parameterType="String">
  	 update sys_rorder SET rorder_type='1'  
  	 where order_id = #{orderId} 
  	 and menu_id = (select menu_id from sys_menu where menu_name=#{menuName})
  </update>
  
  <select id="countAllMenuByOrderId" parameterType="String" resultType="int">
  	select count(rorder_id) from sys_rorder
  	where order_id = #{orderId}
  </select>
  
  <!-- 增加订单明细 -->
<insert id = "insertRorder" parameterType = "Rorder">
		insert into sys_rorder
  	values (#{orderId}, #{menuId}, #{rorderId}, #{rorderType})
</insert>
  <!-- 点击结账改变桌子状态 -->
  	<update id = "updateTableStatus" parameterType = "String">
  	update sys_tables
  	set tables_type = #{status}
  	where tables_id = #{tableId}
  </update>
  <!-- 点击结账改变订单状态 -->
  <update id="updateOrderStatus" parameterType="String">
  	 update sys_order set order_type='0' where order_id=#{orderId}
  </update>
 <!-- 点击结账判断rorder中没上菜的个数-->
  <select id="countNotUpdate" parameterType="String" resultType="int">
select count(*) from sys_rorder WHERE order_id=#{orderId} and rorder_type='0'
  </select>
  
  <delete id = "deleteRorder" parameterType = "String">
  	delete from sys_rorder 
  	where order_id = #{orderId} and menu_id = #{menuId}
  </delete>
  
</mapper>