<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choice.eagle.dao.RorderDao">


   <select id="selectMenuByOrderId" parameterType="String" resultMap="BaseResultMap">
  	SELECT menu_id menuId, COUNT(*) count,menu_money money FROM sys_rorder,sys_menu  
  	where order_id=#{orderId} and sys_rorder.menu_id=sys_menu.menu_id group by menuId
  </select>
  
  <resultMap id="BaseResultMap" type="MenuNum" >
       <id column="menuId" property="menuId"  />
    <result column="count" property="count"  />
    <result column="money" property="money"  />
  </resultMap>
   <update id="updateMenuStatus" parameterType="String">
  	 update sys_rorder
  	 set rorder_type = '1'
  	 where rorder_id = #{rorderId}
  </update>
  
</mapper>