<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choice.eagle.dao.UserDao">
<insert id="insertUser" parameterType="User">
insert into message set user_phone=#{userPhone},user_name=#{userName}
</insert>
</mapper>
